.about-section{
     margin-top:5px;
    margin-bottom: 0px;
    justify-content: center;
    display:flex;
    gap: 25px;
    background-color: rgb(0, 0, 0);
    padding-top: 400px;
    padding: 100px;
}
.about-text{
    font-size: 25px;
    font-style:italic;
    font-weight: 20;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(0, 183, 255);
    border: 1px solid rgb(0, 183, 255);
    padding: 20px;
    border-radius: 10px;
}