.Contect{
    margin-top:5px;
    margin-bottom: 0px;
    display:flex;
    justify-content:space-evenly;
    gap: 25px;
    background-color: rgb(0, 0, 0);
    padding-top: 400px;
    padding: 100px;

}
.Form{
    display: flex;
    flex-direction: column;
    width:inherit;
    height: inherit;
    gap: 15px;
    justify-content:space-evenly;
    border:3px solid  rgb(0, 183, 255);
    background-color: #eeeded;
    border-radius: 5px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
}
.btn-submit{
    background-color: rgb(0, 183, 255);
    color: white;
    font-size: 20px;
    border:none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
}
.icon{
    display: flex;
    flex-direction: row;
    gap:25px;
    justify-content:space-evenly;
    align-items: center;
}
a{
    text-decoration: none;
}
.a1{
    color: rgb(78, 122, 251);
}
.a2{
    color:rgb(251, 38, 127)
}