.header{
    display: flex;
    align-items: center;
    color: rgb(0, 183, 255);
    background-color: black;
    gap:75%;
    padding-left:10px;
    padding-right:10px;
}
.navigation-iteam{
    display: flex;
    justify-content: center;
    gap: 25px;
}
.navigation-iteam li{
    list-style: none;
     font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}
a{
    text-decoration:none;
    color: rgb(0, 183, 255);;
}
.logo{
    padding:10px;
    height:75px;
    width:75px;
    border-radius:25px;
}