.img{
    width:500px;
    height: 500px;
}
.main{
    margin-top:5px;
    margin-bottom: 0px;
    justify-content: center;
    display:flex;
    gap: 25px;
    background-color: rgb(0, 0, 0);
    padding-top: 400px;
    padding: 100px;
}
.content{
    font-size: 30px;
}
.content h1{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(0, 183, 255);
}
.content p{
    font-style:italic;
    font-weight: 200;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(0, 183, 255);
}
.img:hover{
     width:500px;
    height: 500px;
    transition: transform 0.2s;
}
.text{
    height: 100px;
    background-color: rgb(0, 0, 0);
    color: rgb(0, 183, 255);
    text-align: center;
}
.home{
    background-color: rgb(0, 0, 0);
    height: 100vh;
}