.Img-main{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-top: 5px;
    background-color: rgb(0, 0, 0);
    width: 100%;
    height: 100vh;
}
.about h1{
    color: rgb(0, 183, 255);
}
.counter-content {
    display: flex;
    gap: 15px;
    flex-direction: column;
    align-items: center;
}
.counter-content h1{
   color: whitesmoke;
}
.buttons{
    display: flex;
    gap: 10px;

}
.buttons button{
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: rgb(0, 183, 255);
    color: black;
    font-weight: bold;
    cursor: pointer;
}